<!--login.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MSFS-Addons | Login & Registration</title>
</head>
<body style="background: url('{{ url_for('static', filename='IA_login.jpg') }}');
              background-size: cover;
              background-repeat: no-repeat;
              background-attachment: fixed;
              overflow: hidden;">
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
        <img src="{{ url_for('static', filename='IA_logo_final.png') }}" alt="MSFS Addons Logo" class="logo-img">
        </div>

        <div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="showLoginForm()">Sign In</button>
            <button class="btn" id="registerBtn" onclick="showRegisterForm()">Sign Up</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>

<div class="form-box">

    <!--login form-->
    <form action="/login" method="POST" class="login-container" id="loginFORM">
        <input type="hidden" name="form_type" value="login">
        <div class="top">
            <span>Don't have an account? <a href="javascript:void(0);" onclick="showRegisterForm()">Sign Up</a></span>
            <header>Login</header>
        </div>
        <div class="input-box">
            <input type="text" name="username_or_email" class="input-field" placeholder="Username or Email" required>
            <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
            <input type="password" name="password" class="input-field" placeholder="Password" required>
            <i class="bx bx-lock-alt"></i>
        </div>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        <div class="input-box">

            <input type="submit" class="submit" value="Sign In">
        </div>
    </form>

    <!--registration form-->
    <form action="/login" method="POST" class="register-container" id="registerFORM">
        <input type="hidden" name="form_type" value="register">
        <div class="top">
            <span>Have an account?<a href="javascript:void(0);" onclick="showLoginForm()">Login</a></span>
            <header>Sign Up</header>
        </div>
        <div class="two-forms">
            <div class="input-box">
                <input type="text" name="first_name" class="input-field" placeholder="Firstname" required>
                <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
                <input type="text" name="last_name" class="input-field" placeholder="Lastname" required>
                <i class="bx bx-user"></i>
            </div>
        </div>
        <div class="input-box">
            <input type="text" name="username" class="input-field" placeholder="Preferred Username" required>
            <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
            <input type="email" name="email" class="input-field" placeholder="Email" required>
            <i class="bx bx-envelope"></i>
        </div>
        <div class="input-box">
            <input type="password" name="password" class="input-field" placeholder="Password" required>
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-box">
            <input type="password" name="confirm_password" class="input-field" placeholder="Confirm Password" required>
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-box">
            <select name="role" class="input-field" id="role-select" onchange="handleRoleChange(this)" required>
                <option value="user" selected>User</option> <!-- 'selected' makes User the default -->
                <option value="developer">Developer</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div class="input-box" id="privacy-code-box" style="display: none;">
            <input type="password" name="privacy_code" class="input-field" placeholder="Privacy code">
            <i class="bx bx-lock-alt"></i>
        </div>

        <div class="input-box" id="msfs-version-box">
            <select name="msfs_version" class="input-field" required>
                <option value="" disabled selected>Select your MSFS Version</option>
                <option value="1.20">1.20</option>
                <option value="1.21">1.21</option>
                <option value="1.22">1.22</option>
                <option value="1.23">1.23</option>
                <option value="1.24">1.24</option>
                <option value="1.25">1.25</option>
                <option value="1.26">1.26</option>
                <option value="1.27">1.27</option>
                <option value="1.28">1.28</option>
                <option value="1.29">1.29</option>
                <option value="1.30">1.30</option>
            </select>
        </div>

        {% if register_error %}
            <div class="error-message">{{ register_error }}</div>
        {% endif %}

        <div class="input-box" id="register-button">
            <input type="submit" class="submit" value="Register">
        </div>

        <div class="two-row">
            <div class="one">
                <input type="checkbox" id="agree-terms" name="agree_terms" required>
                <label for="agree-terms">
                    I agree with the <a href="{{ url_for('static', filename='terms.pdf') }}" target="_blank">Terms & conditions</a>
                </label>
            </div>
        </div>
    </form>
</div>

</div>


<script>
   function handleRoleChange(selectElement) {
        const selectedRole = selectElement.value;

        //Get the containers and the input fields
        const privacyCodeBox = document.getElementById("privacy-code-box");
        const privacyCodeInput = privacyCodeBox.querySelector("input[name='privacy_code']");

        const msfsVersionBox = document.getElementById("msfs-version-box");
        const msfsVersionSelect = msfsVersionBox.querySelector("select[name='msfs_version']");

        //Logic for the Admin Privacy Code
        if (selectedRole === "admin") {
            privacyCodeBox.style.display = "block";
            privacyCodeInput.required = true;
        } else {
            privacyCodeBox.style.display = "none";
            privacyCodeInput.required = false;
        }

        //Logic for the User MSFS Version
        if (selectedRole === "user") {
            msfsVersionBox.style.display = "block";
            msfsVersionSelect.required = true;
        } else {
            msfsVersionBox.style.display = "none";
            msfsVersionSelect.required = false;
        }
    }

    //Call the function on page load to set the initial correct state
    window.onload = function() {
        const roleSelect = document.getElementById('role-select');
        handleRoleChange(roleSelect);

        {% if register_error %}
            showRegisterForm();
        {% endif %}
    };

    var a = document.getElementById("loginBtn");
    var b = document.getElementById("registerBtn");
    var x = document.getElementById("loginFORM");
    var y = document.getElementById("registerFORM");

    function showLoginForm() {
    x.style.left = "4px";
    y.style.right = "-520px";
    x.style.zIndex = "2";
    y.style.zIndex = "1";
    a.className = "btn white-btn";
    b.className = "btn";
    x.style.opacity = 1;
    y.style.opacity = 0;
}

function showRegisterForm() {
    x.style.left = "-510px";
    y.style.right = "5px";
    x.style.zIndex = "1";
    y.style.zIndex = "2";
    a.className = "btn";
    b.className = "btn white-btn";
    x.style.opacity = 0;
    y.style.opacity = 1;
}

window.onload = function() {
    {% if register_error %}
        showRegisterForm();
    {% endif %}
};
</script>
</body>
</html>
